.cart-summary {
  margin-bottom: 20px;
}

.cart-summary-text {
  font-size: 18px;
  font-weight: bold;
}

.cart-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  font-size: 16px;
}
