.product-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  width: 300px;
  margin-bottom: 20px;
}

.product-link {
  text-decoration: none;
  color: inherit;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-title {
  margin: 10px 0;
}

.product-price {
  margin: 10px 0;
}

.product-quantity-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-button {
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}

.remove-button,
.add-button {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.remove-button {
  background-color: #ff6347;
}

.add-button {
  background-color: #28a745;
}

.remove-button:hover {
  background-color: #e53e32;
}

.add-button:hover {
  background-color: #218838;
}

.add-to-cart-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
