body {
  background: 
    radial-gradient(circle at 20% 20%, rgba(18, 17, 18, 0.03) 0, transparent 60%),
    radial-gradient(circle at 80% 0%, rgba(0,0,0,0.02) 0, transparent 60%),
    #10755253;
}

h2 {
  margin-bottom: 24px;
  font-size: 2rem;
  font-weight: 600;
}



